.about {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/* Title styling */
h1, h2 {
    color: #008DDA;
    margin-bottom: 20px;
    font-size: 2em;
}

/* About Us and Features Containers */
.about-us-container, .features-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* About Us section */
.about-us {
    flex: 1;
    margin-top: 50px;
}

.features {
    flex: 1;
}

/* Text styling for paragraphs */
.about-us p, .features p {
    font-size: 1em;
}

/* Image styling */
.image-container {
    flex: 0 0 300px; /* Adjust the width of the image container */
}

.right-image{
    margin-top: 120px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.left-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-left: -25px;
}

/* Responsive design */
@media (max-width: 768px) {
    .about-us-container, .features-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .image-container {
        margin-top: 20px;
    }
}
