body {
  background: #ffffff;
}

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  flex: 1;
}

.title {
  color: #008DDA;
}

.custom-container {
  display: flex;
  align-items: center;
}

.custom-text {
  color: #102C57;
  font-size: 4em;
  font-weight: bold;
  line-height: 1.2;
}

.custom-paragraph {
  color: #102C57;
  margin-top: 1em;
  font-size: 1.2em;
  line-height: 1.5;
}

.custom-button {
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 2em;
  background-color: #008DDA;
  color: white;
  border: none;
}

.custom-button:hover {
  background-color: #074173;
}

.image-container {
  margin-left: 50px; /* Add some spacing between text and image */
}

.right-image {
  max-width: 100%;
  height: 300px;
  border-radius: 8px;
}

.contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 2em;
}

.card {
  flex: 1 0 auto;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  /* flex-direction: row; */
  max-width: 300px; /* Adjust max-width */
  max-height: 450px; /* Adjust max-height */
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0; /* Rounded corners for the top of the image */
}

.card .card-category {
  color: #008DDA;
  font-weight: bold;
  margin: 10px 0 0 0;
  font-size: 1em;
  align-self: flex-start;
}

.card .card-desc {
  margin: 10px 0 0 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Batas 5 baris */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .card-name {
  font-size: 1em;
  color: #102C57;
  align-items: center;
  margin-bottom: 0.5em;
} */

.card p {
  margin: 0.5em 0;
}

.card span {
  font-weight: bold;
  color: #102C57;
}

.explore-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.explore-button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #008DDA;
  color: white;
  border: none;
}

.explore-button:hover {
  background-color: #074173;
}

@media (max-width: 558px) {
  .custom-text {
    font-size: 2.5em;
  }
  .header-container {
    flex-direction: column;
    text-align: center;
  }
  .custom-paragraph {
    font-size: 1em;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin: 10px 0;
    width: 80%; /* Ensure full width on mobile */
    max-width: none;
  }

  .image-container {
    justify-content: center;
    margin-top: 2em;
  }
}
