.container {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin-top: 120px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.profile h2 {
  margin-bottom: 20px;
  text-align: center;
}

.profile h3{
  color: #008DDA;
}

.profile label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.profile input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.phone-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.phone-input-wrapper span {
  margin-right: 10px;
  font-weight: bold;
}

.container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #008DDA;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container button:hover {
  background-color: #074173;
}

.profile-card {
  flex: 1 0 auto;
  margin: 10px;
  border: 1px solid #ddd; /* Tambahkan 'solid' */
  border-radius: 8px;
  text-align: left;
  background: #fff;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.1); /* Ubah nilai ini */
  display: flex;
  flex-direction: column;
  max-width: 200px; /* Adjust max-width */
  max-height: 400px; /* Adjust max-height */
  padding: 20px;
}




.profile-card .card-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0; /* Rounded corners for the top of the image */
}

.profile-card .category {
  color: #008DDA;
  font-weight: bold;
  margin: 10px 0 0 0;
  font-size: 1em;
  align-self: flex-start;
}

.profile-card h4 {
  font-size: 1em;
  color: #333;
  align-items: center;
  margin-bottom: 0.5em;
}

.profile-card .desc {
  color: #6c757d;
  font-size: 14px;
}
